@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

* {
    font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Headings */
@layer components {
    h1 {
        @apply text-lg lg:text-xl xl:text-2xl text-gray-800;
    }

    h2 {
        @apply text-xl xl:text-2xl text-gray-800;
    }

    h3 {
        @apply text-gray-500 font-medium uppercase text-xs lg:text-xs xl:text-xs;
    }

    h4 {
        @apply text-base font-medium;
    }

    h5 {
        @apply text-gray-400 text-xs;
    }
}

.skeleton {
    @apply rounded bg-gradient-to-br animate-pulse from-gray-100 to-gray-200
}

.skeleton-error {
    @apply rounded bg-gradient-to-br animate-pulse from-red-100 to-red-200
}
