@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

@font-face {
  font-family: Nunito;
  font-style: italic;
  src: url('../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf');
}

* {
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Headings */
@layer components {
  h1 {
    @apply text-lg text-gray-800 lg:text-xl xl:text-2xl;
  }

  h2 {
    @apply text-xl text-gray-800 xl:text-2xl;
  }

  h3 {
    @apply text-xs font-medium uppercase text-gray-500 lg:text-xs xl:text-xs;
  }

  h4 {
    @apply text-base font-medium;
  }

  h5 {
    @apply text-xs text-gray-400;
  }
}

.skeleton {
  @apply animate-pulse rounded bg-gradient-to-br from-gray-100 to-gray-200;
}

.skeleton-error {
  @apply animate-pulse rounded bg-gradient-to-br from-red-100 to-red-200;
}

/* Si besoin de mettre le background de l'icone oeil du form de password de la meme couleur que le bg autofill */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill + .MuiInputAdornment-root .MuiIconButton-root {
  background-color: #3490dc;
  color: #fff;
} */